<div class="wrapper">

    <div class="gallery">

        <div class="control left"><fa-icon [icon]="faChevLeft"></fa-icon></div>
        <div class="control right"><fa-icon [icon]="faChevRight"></fa-icon></div>

        <img src="https://static-assets.tesla.com/configurator/compositor?&options=$MT317,$PBSB,$W33D,$IPB1,$SLR1,$DRRH&view=STUD_FRONT34&model=m3&size=1920&bkba_opt=1&version=v0028d202103110450&crop=0,0,0,0&version=v0028d202103110450">

    </div>

    <div class="side-bar">
        
        <div class="form-container">

            <div class="info">
                <span class="icon"><fa-icon [icon]="faInfo"></fa-icon></span>
                <div class="text">
                   <span>Business Contract Hire rates apply to deliveries by March 31st.</span>
                    <a href="javascript:;">Export Inventory</a>
                </div>
            </div>

            <div class="title-section">
                <div class="title">Model 3</div>
                <div class="sub-title">Est Delivery: May</div>
            </div>

            <div class="stats">
                <div class="stat">
                    <div class="value">
                       <span class="num">352</span>
                       <span class="measure">mi</span> 
                    </div>
                    <div class="title">Range (WLTP)</div>
                </div>
                <div class="stat">
                    <div class="num">162mph</div>
                    <div class="title">Top Speed</div>
                </div>
                <div class="stat">
                    <div class="num">31.sec</div>
                    <div class="title">0 - 60 mph</div>
                </div>
            </div>

            <div class="drive-section">
                <div class="title">Rear-Wheel Drive</div>
                <div class="button">
                    <span>Standard Range Plus</span>
                    <span>£40,490</span>
                </div>

                <div class="title">Rear-Wheel Drive</div>
                <div class="button">
                    <span>Standard Range Plus</span>
                    <span>£40,490</span>
                </div>
                <div class="button">
                    <span>Standard Range Plus</span>
                    <span>£40,490</span>
                </div>
            </div>

            <div class="features-section">
                Features
            </div>

            <div class="colours-section">
                <div class="title"></div>
                <div class="colours">
                    <div style="border: 3px solid #3e6ae1;" class="selected-outline">
                        <div style="background: url('https://static-assets.tesla.com/share/tesla_design_studio_assets/MODEL3/UI/Paint_White.png?&version=v0028d202103110450');" class="colour"></div>
                    </div>  
                    <div class="selected-outline">
                        <div style="background: url('https://static-assets.tesla.com/share/tesla_design_studio_assets/MODEL3/UI/Paint_Black.png?&version=v0028d202103110450');" class="colour"></div>
                    </div>  
                    <div class="selected-outline">
                        <div style="background: url('https://static-assets.tesla.com/share/tesla_design_studio_assets/MODEL3/UI/Paint_Red.png?&version=v0028d202103110450');" class="colour"></div>
                    </div> 
                    <div class="selected-outline">
                        <div style="background: url('https://static-assets.tesla.com/share/tesla_design_studio_assets/MODEL3/UI/Paint_Blue.png?&version=v0028d202103110450');" class="colour"></div>
                    </div> 
                    <div class="selected-outline">
                        <div style="background: url('https://static-assets.tesla.com/share/tesla_design_studio_assets/MODEL3/UI/Paint_MidnightSilver.png?&version=v0028d202103110450');" class="colour"></div>
                    </div>         
                </div>
            </div>

        </div>

        
    </div>

</div>