.week-container {
    display: flex;

    .day {
        display: flex;
        flex: 1;
        width: 100%;
        flex-direction: column;
        padding: 5px;

        .day-header {
            width: 100%;
            padding: 10px 0;
            text-align: center;
            font-weight: 500;
            font-size: 16px;
        }

        .day-body {

            .day-list-container {
                display: flex;
                flex-direction: column;

                .todo {

                }
            }

        }

    }

}