<div class="top-bar">
    <div class="left">
        <div id="test"></div>
    </div>
    <div class="right">
        <input #normalSearch type="text" class="form-control form-control-sm d-block">
        <div #popupSearch class="popup-search d-none">

            <div class="popup-header"> 
                <input type="text" class="form-control form-control-sm mr-3" placeholder="Search by name...">
                <span class="btn-close"><fa-icon [icon]="faTimes"></fa-icon></span>
            </div>

            <div class="popup-body">
                <div class="crypto-items">
                    <div (click)="selectedCryptoItem = item" [ngClass]="{ 'item-selected' : selectedCryptoItem === item }" class="item my-1 p-1" *ngFor="let item of cryptoItems; let i = index;">
                        <img height=20 width=20 src="https://s2.coinmarketcap.com/static/img/coins/64x64/9711.png">
                        Item {{ i }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="outside-container">

    <div (click)="scrollListLeft($event)" class="control left"><fa-icon [icon]="faChevronLeft"></fa-icon></div>
    <div (click)="scrollListRight($event)" class="control right"><fa-icon [icon]="faChevronRight"></fa-icon></div>

    <div #scrollContainer class="scroll-container m-4">

        <div *ngFor="let item of [].constructor(10)" class="item mx-2 p-2">
            <small class="font-weight-bold text-muted">Weekly AirDrops</small>
            <div class="font-weight-bold">Submit Your watchlist and win USDT</div>
        </div>
    
    </div>

</div>

<div class="table-container m-3">

    <table class="table table-sm">
        <thead>
            <tr>
                <th></th>
                <th style="cursor: pointer;" (click)="colOneSortUp =! colOneSortUp"><fa-icon class="mr-1" [icon]="colOneSortUp ? faCaretUp : faCaretDown"></fa-icon>Column One</th>
                <th style="cursor: pointer;" (click)="colTwoSortUp =! colTwoSortUp"><fa-icon class="mr-1" [icon]="colTwoSortUp ? faCaretUp : faCaretDown"></fa-icon>Column Two</th>
                <th style="cursor: pointer;" (click)="colThreeSortUp =! colThreeSortUp"><fa-icon class="mr-1" [icon]="colThreeSortUp ? faCaretUp : faCaretDown"></fa-icon>Column Threw</th>
                <th style="cursor: pointer;" (click)="colFourSortUp =! colFourSortUp"><fa-icon class="mr-1" [icon]="colFourSortUp ? faCaretUp : faCaretDown"></fa-icon>Column Four</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of items let i = index;">
                <td>
                    <span class="favourite" [ngClass]="{ 'favourited' : item.favourited }" (click)="item.favourited =! item.favourited">
                        <fa-icon [icon]="item.favourited ? faFullStar : faStar"></fa-icon>
                    </span>
                </td>
                <td class="font-weight-bold">£12.30</td>
                <td style="color: #16c784" class="font-weight-bold"><fa-icon class="mr-1" [icon]="faCaretUp"></fa-icon>4.78%</td>
                <td style="color: #ea3943;" class="font-weight-bold"><fa-icon class="mr-1" [icon]="faCaretDown"></fa-icon>12.78%</td>
                <td class="">
                    <div class="d-flex justify-content-end font-weight-bold mb-1">
                        <fa-icon style="color: #a6b0c3;" class="mr-2" [icon]="faInfoCircle" [ngbPopover]="popContent" popoverClass="my-custom-class" triggers="mouseenter:mouseleave"></fa-icon>
                         1,324,030 LINK
                    </div>
                    <p><ngb-progressbar type="secondary" [value]=item.rowItem4 height="8px"></ngb-progressbar></p>
                </td>
            </tr>
        </tbody>

    </table>
   

</div>


<ng-template #popContent>
    
    <div style="width: 220px; font-size: 12px;">
        <div class="d-flex justify-content-between">
            <div class="font-weight-bold">Percentage</div>
            <div>44.15%</div>
        </div>
        <p class="mt-1"><ngb-progressbar type="secondary" [value]=40 height="8px"></ngb-progressbar></p>
        <div class="d-flex justify-content-between">
            <div class="font-weight-bold">Circulating Supply</div>
            <div>6,000,000,000 LINK</div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="font-weight-bold">Max Supply</div>
            <div>10,000,000,000 LINK</div>
        </div>
    </div>


</ng-template>