<app-code-editor></app-code-editor>

<!-- <div>
    <button (click)="open(content)">Test</button>
    <button (click)="open(content2)">Test</button>
    <button (click)="open2()">Test</button>
</div> -->



<ng-template #content let-modal>
    <div class="modal-body">

        <div class="m-4" style="height: 600px">
            <ngx-monaco-editor style="height: 100%" [options]="editorOptions" [(ngModel)]="code"
                (onInit)="onInit($event)"></ngx-monaco-editor>
        </div>

    </div>
</ng-template>


<ng-template #content2 let-modal>
    <div class="modal-body">

        <div class="m-4" style="height: 600px">
            <ngx-monaco-diff-editor style="height: 100%" [options]="editorOptions" [originalModel]="originalModel" [modifiedModel]="modifiedModel"></ngx-monaco-diff-editor>
        </div>

    </div>
</ng-template>