/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
body { 
    margin: 0; 
    //font-family: Roboto, "Helvetica Neue", sans-serif !important;
    //font-family: 'Noto Sans JP', sans-serif !important;
    //font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif !important;
 }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.highlight {
    background: red;
    color: white;
}

.deleted {
    background-color: blue;
    color: white;
}



.cdk-overlay-container {
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.highlighted {
    background-color: yellow;
}

.current {
    text-decoration: underline;
}